.board {
    background-color: #245269;
}

.broker {
    background-color: #245269;
}

.FBI {
    background-color: #428bca;
}

.KGB {
    background-color: #f0ad4e;
}

.MOSSAD {
    background-color: #47a447;
}

.xfield {
    top: 10px;
    font-size: 18px;
}