<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="board"/>
    <title>X-files</title>
    <r:require modules="bootstrap"/>
</head>

<body>
<div class="row">
    <div class="col-md-10">
        Welcome to a new game of X-files command game. Choose a menu option above to start.
    </div>
</div>
</body>
</html>
